<app-inicio></app-inicio>

<br>


<div class="container">
     <div>
          <form [formGroup]="formRestaurants" (ngSubmit)="searchRestaurants()">
               <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">Restaurante</label>
                    <select class="form-select" id="inputNumberCapacity" placeholder="Restaurante" formControlName="name">
                         <option *ngFor="let restaurant of restaurants" [value]="restaurant.name">{{restaurant.name}}</option>
                    </select>
                    <input type="date" class="form-control" id="inputDate" formControlName="date">
                    <button class="btn btn-info">Buscar</button>
               </div>
               <div style="margin-left: 50px; margin-block-start: 20px; margin-right:150px;">
                    <table class="table table-bordered border-primary">
                        <thead class="table-light">
                            <th>
                              <p class="h3">Restaurante</p>
                            </th>
                            <th>
                              <p class="h3">Hora</p>
                            </th>
                            <th>
                              <p class="h3">Cliente</p>
                            </th>
                        </thead>
                        <tbody>
                              <tr *ngFor="let res of reservations">
                                   <td>
                                        <p class="h5">{{res.restaurant}}</p>
                                   </td>
                                   <td>
                                        <p class="h5">{{res.hour}}</p>
                                   </td>
                                   <td>
                                        <p class="h5">{{res.client}}</p>
                                   </td>
                              </tr>
                        </tbody>
                    </table>
                </div>
          </form>
     </div>

</div>
