<nav class="navbar navbar-light bg-light border border-5 rounded-end rounded-2">
     <div class="container-fluid">
          <a class="navbar-brand mb-0 h1" routerLink="">
               <p class="h2">Gestion de Reservas</p>
          </a>

          <ul>
               <a class="btn btn-outline-success btn-lg" routerLink="/registrarse">Registrar Cliente</a>
               &nbsp;
               <a class="btn btn-outline-success btn-lg" routerLink="/registrarseRestaurante">Registrar Restaurante</a>
               &nbsp;
               <a class="btn btn-outline-success btn-lg" routerLink="/registrarseReserva">Reservacion</a>
          </ul>
     </div>
</nav>

